<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Comment Create</title>
    <link rel="stylesheet"  href="{% static 'case_update.css' %}" />
</head>
<style type="text/css">

</style>
<body>
<div class="title"> Please Create Case here. </div>

<form action='.' method="POST" οnsubmit="return false" align="left">{% csrf_token %}
	<div id="list" align="left">
	<p><label class="label_input">Case</label> {{form.cc_case}}</p>
	<p><label class="label_input">Time</label> {{form.timeframe}}</p>
	<p><label class="label_input">Comment</label> {{form.cc_comment}}</p>
	</div>
	<div id="bt">
		<input type="submit" value="Save" id="btn_save" />
		<input type="submit" value="Back" id="btn_back" onclick="javascript:window.location.href='/casecommentlist'" />
	</div>

</form>
</div>
</body>
</html>