<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Create</title>
    <link rel="stylesheet"  href="{% static 'case_update.css' %}" />
</head>
<style type="text/css">

</style>
<body>
<div class="title"> Please Update Case here. </div>

<form action='.' method="POST" οnsubmit="return false" align="left">{% csrf_token %}
	<div id="list" align="left">
	<p><label class="label_input">Case</label> {{form.old_case}}</p>
	<p><label class="label_input">Timeframe</label> {{form.timeframe}}</p>
	<p><label class="label_input">Summary</label> {{form.summary}}</p>
	<p><label class="label_input">Status</label> {{form.status}}</p>
	<p><label class="label_input">Description</label> {{form.description}}</p>
	
	</div>
	<div id="bt">
		<input type="submit" value="Save" id="btn_save" />
		<input type="submit" value="Back" id="btn_back" onclick="javascript:window.location.href='/caselist'" />
	</div>

</form>
</div>
</body>
</html>