<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link rel="stylesheet"  href="{% static 'product_list.css' %}" />
</head>
<body>
<div id="bt">
    <input type="button" value="Add" id="btn_insert" onclick="javascrtpt:window.location.href='/productcreate'" />
    <input type="button" value="Back" id="btn_insert" onclick="javascrtpt:window.location.href='/home'" />
</div>
<div id="list">
    <table style="margin:auto">
        <caption>Product List</caption>

    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
    </tr>
    </thead>
  <tbody>
    {% for line in product_list %}
    <tr>
        <td>{{line.pname}}</td>
        <td>{{line.pdescription}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


</body>
</html>