body {
    background-image:  url("/static/2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
a{text-decoration: none; color: black}
#bt {
   text-align: center;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: -32%;
    left: 0;
    right: 0;
    bottom: 0;
}

#btn_insert {
    font-size: 14px;
    font-family: helveticaarial;
    width: 100px;
    height: 50px;
    line-height: 28px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 30;
    margin-left: 20px;
}

#btn_delete{
    font-size: 14px;
    font-family: helveticaarial;
    width: 100px;
    height: 50px;
    line-height: 28px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 30;
    margin-left: 20px;
}

#btn_update{
    font-size: 14px;
    font-family: helveticaarial;
    width: 100px;
    height: 50px;
    line-height: 28px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 30;
    margin-left: 20px;
}
#list1 {
    text-align: center;
    border-radius: 20px;
    width: 800px;
    height: 100px;
    position: absolute;
    top: 25%;
    left: 22%;
    right: 0;
    bottom: 0;
}
#list2 {
    text-align: center;
    border-radius: 20px;
    width: 800px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 18%;
    right: 0;
    bottom: 0;
}

#list3 {
    text-align: center;
    border-radius: 20px;
    width: 800px;
    height: 100px;
    position: absolute;
    top: 80%;
    left: 18%;
    right: 0;
    bottom: 0;
}


table {
     border-collapse: collapse;
     font-family: helveticaarial;
}

caption {
     font-weight: 700;
     font-size: larger;
     font-family: helveticaarial;
     margin: 1em auto;
}

th,td {
     padding: .65em;
}

th {
     background: #ccc;
   /* border: 1px solid #777; */
   color: black;
}

td {
     /* border: 1px solid #777; */
}

tbody tr:nth-child(even) {
     background: #ccc;
}

th:first-child {
     border-radius: 9px 0 0 0;
}

th:last-child {
     border-radius: 0 9px 0 0;
}

tr:last-child td:first-child {
     border-radius: 0 0 0 9px;
}

tr:last-child td:last-child {
     border-radius: 0 0 9px 0;
}